<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sqlString" value="Data Source=192.168.18.105;Initial Catalog=stock;UID=sa;Password=1wd1wd!"/>
    <add key="logPath" value="C:/stockfetch/log/"/>
    <add key="AWSProfileName" value="CAccess"/>
    <add key="AWSRegion" value="ap-southeast-1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>